#form-view{
    margin: auto;
    width: 30%;
    overflow: hidden;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background: #ffffff;
    border-radius: 3px;
    padding: 20px;
}

#form-container{
    width: 450%;
}

#form-container>form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 500px;
    width: 100%;
}

.form-card{
    position: relative;
    height: 500px;
    flex-basis: 24%;
    margin-right: 2%;
}

.input-row{
    width: 85%;
    margin: 16px auto;
}

.input-label>input.form-control{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.input-label{
    transition-duration: .3s;
}

.hidden{
    opacity: 0;
    transform: translateX(-15px);
}

.next-btn{
    float: right;
}