#form-view{
    margin: auto;
    width: 95%;
    max-width: 500px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background: #ffffff;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
    box-sizing: border-box;
}

#form-container{
    width: 200%;
    position: relative;
    left: 0;
    transition-duration: .3s;
    box-sizing: border-box;
}

#form-container>form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    box-sizing: border-box;
}

.form-card{
    position: relative;
    height: 550px;
    flex-basis: 45%;
    box-sizing: border-box;
}

.form-hidden{
    display: none;
}

.input-row{
    margin: 16px auto;
    min-height: 64px;
}

.input-label>input.form-control{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.input-label{
    transition-duration: .3s;
}

.hidden{
    opacity: 0;
    transform: translateX(-15px);
}

.next-btn{
    float: right;
}

.list-group-item{
    margin: 24px auto;
}
.total{
    float: right;
    position: relative;
}
