
// Body
$body-bg: #f4f4f4;

// Typography
$font-family-sans-serif: "Merriweather", serif;
$font-family-serif: "Playfair Display", serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$icon-color: #282b2c;
$border-grey: #e0e0e0;

// Navbar
$navbar-default-bg: #252525;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;
