
// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display:400,400i');


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-laravel {
  background-color: #252525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#form-header{
  background: rgba(0, 0, 0, 0.03);
  margin: auto;
  width: 95%;
  max-width: 500px;
  font-family: 'Merriweather';
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 14px;
  border: 1px solid rgba(0,0,0,.2);
  border-bottom: none;
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
} 

.intro-home{
  background-image: url('/img/intro-bg.jpg');
  height: 100%;
  max-height: 1080px;
}

.svg-icon svg{
  fill: $icon-color;
  height: 120px;
}
